
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
}

h1, p {
    margin: 0 0 1em 0;
}

.wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 776px) {

    /* no grid support? */
    .sidebar-left {
        width: 20%;

    }

    .sidebar-right {
        width: 25%;
        position: sticky;
    }

    .content {
        width: 55%;
    }

    .wrapper {
        margin: 0 auto;
    }

    .footer {
        grid-column: 1 / -1;
        clear: both;
    }

}

@media screen and (max-width: 770px) {

    /* no grid support? */
    .sidebar-left {
        width: 100%;
    }

    .sidebar-right {
        width: 100%;
    }

    .content {
        width: 100%;
    }

    .wrapper {
        flex-direction: column;
        margin: 0 auto;
    }

    .footer {
        grid-column: 1 / -1;
        /* needed for the floated layout */
        clear: both;
    }

}

.wrapper > * {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}


.i-circle {
    background: #048004;
    color: #fff;
    padding: 15px 20px;
    border-radius: 50%;
    font-size: 20px;
}

/*---------- star rating ----------*/

.star-rating, .back-stars, .front-stars {
    display: flex;
}

.star-rating {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.back-stars {
    color: #403e3f;
    position: relative;
    text-shadow: 4px 4px 10px #292728;
}

.front-stars {
    color: #ffbc0b;
    overflow: hidden;
    position: absolute;
    text-shadow: 2px 2px 5px #d29b09;
    top: 0;
    transition: all 0.5s;
}