<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Repoph &mdash; Reset password </title>

	<link href="../static/images/logo.png" rel="icon"/>
	<link href="../static/images/logo.png" rel="apple-touch-icon"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/css/login-register-forget-reset.css">
</head>
<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center align-items-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="../static/images/logo.png" alt="Repoph logo">
					</div>
					<div th:if="${error}">
						<div class="alert alert-danger">
							<span th:text="${error}"></span>
						</div>
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Reset Password</h4>
							<form th:action="@{/reset-password}" th:object="${passwordResetForm}" method="post" class="my-login-validation" novalidate="">
								<p class="error-message"
								   th:if="${#fields.hasGlobalErrors()}"
								   th:each="error : ${#fields.errors('global')}"
								   th:text="${error}">Validation error</p>
								<input type="hidden" name="token" th:value="${token}"/>
								<div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
									<label for="new-password">New Password</label>
									<input id="new-password" type="password" class="form-control" th:field="*{password}" required autofocus data-eye>
									<div class="invalid-feedback">	
										Password is required
									</div>
									<p class="error-message"
									   th:each="error: ${#fields.errors('password')}"
									   th:text="${error}">Validation error</p>
								</div>
								<div class="form-text text-muted">
									Make sure your password is strong and easy to remember
								</div>
								<div class="form-group" th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
									<label for="conform-password">Confirm Password</label>
									<input id="conform-password" type="password" class="form-control" th:field="*{confirmPassword}" required autofocus>
									<div class="invalid-feedback">
										Password is required
									</div>
									<p class="error-message"
									   th:each="error: ${#fields.errors('confirmPassword')}"
									   th:text="${error}">Validation error</p>
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block">
										Reset Password
									</button>
								</div>
							</form>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							New user? <a href="/" th:href="@{/registration}">Register</a>
						</div>
						<div class="col-md-12">
							Already registered? <a href="/" th:href="@{/login}">Login</a>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2017 &mdash; All right reserved to Repoph
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="../static/js/login-register-forget-reset.js"></script>
</body>
</html>