<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Ravikant">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Repoph &mdash; Update Address</title>

    <link href="../static/assets/img/logo.png" rel="icon"/>
    <link href="../static/assets/img/logo.png" rel="apple-touch-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/login-register-forget-reset.css">

</head>
<body class="my-login-page">
<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div class="brand">
                    <img src="../static/assets/img/logo.png" alt=" circle logo">
                </div>
                <span th:if="${msg != null && msg.contains('wrong')}">
					<div class="alert alert-danger" role="alert">
						<span th:text="${msg}"></span>
					</div>
				</span>
                <span th:if="${msg != null && !msg.contains('wrong')}">
					<div class="alert alert-success" role="alert">
						<span th:text="${msg}"></span>
					</div>
				</span>
                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title">Update your address </h4>
                        <p class="hint-text">It will only takes a minute.</p>
                        <form th:action="@{/update-address}" th:object="${addressFrom}" method="post" class="my-login-validation" novalidate="">
                            <div class="form-group">
                                <label for="house_no">House No</label>
                                <input id="house_no" type="text" th:field="*{houseNumber}" class="form-control" required autofocus>
                                <div class="invalid-feedback">
                                    What's your house number?
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="street_name">Street Name</label>
                                <input id="street_name" type="text" th:field="*{street}" class="form-control" required autofocus>
                                <div class="invalid-feedback">
                                    What's your street name?
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="city">City</label>
                                <input id="city" type="text" class="form-control" th:field="*{city}" required>
                                <div class="invalid-feedback">
                                    What's your city name?
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="pin_code">Pin Code</label>
                                <input id="pin_code" type="number" class="form-control" th:field="*{pinCode}" required>
                                <div class="invalid-feedback">
                                    What's your pin code?
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="country">Country</label>
                                <input id="country" type="text" class="form-control" th:field="*{country}" required>
                                <div class="invalid-feedback">
                                    What's your country?
                                </div>
                            </div>
                            <div class="form-group m-0">
                                <button type="submit" class="btn btn-primary btn-block">
                                    Update
                                </button>
                            </div>
                            <div class="mt-4 text-center">
                                Go to <a href="/profile">Profile</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="footer">
                    Copyright &copy; 2020 &mdash; All right reserved to Repoph
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="../static/js/login-register-forget-reset.js"></script>
</body>
</html>