<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Ravikant">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Repoph &mdash; Sign up</title>

    <link href="../static/assets/img/logo.png" rel="icon"/>
    <link href="../static/assets/img/logo.png" rel="apple-touch-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/login-register-forget-reset.css">
</head>
<body class="my-login-page">
<nav class="navbar  navbar-light alert-danger justify-content-between ">
    <a class="navbar-brand" href="/">
        <img src="../static/assets/img/repoph_flat_nav_logo.png" height="50" width="200">
    </a>
    <div class="form-inline">
        <form>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            <a class="btn btn-link my-2 my-sm-0" href="/login">Log In</a>
        </form>
    </div>
</nav>
<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div class="brand">
                    <img src="../static/assets/img/logo.png" alt=" circle logo">
                </div>
                <span th:if="${msg != null && msg.contains('wrong')}">
					<div class="alert alert-danger" role="alert">
						<span th:text="${msg}"></span>
					</div>
				</span>
                <span th:if="${msg != null && !msg.contains('wrong')}">
					<div class="alert alert-warning" role="alert">
						<span th:text="${msg}"></span>
					</div>
				</span>
                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title">Sign up for Repoph</h4>
                        <p class="hint-text">Create your account. It's free and only takes a minute.</p>
                        <form th:action="@{/registration}" th:object="${registrationForm}" method="post" class="my-login-validation" novalidate="">
                            <div class="form-group">
                                <label for="first_name">First Name</label>
                                <input id="first_name" type="text" th:field="*{firstName}" class="form-control" required autofocus>
                                <div class="invalid-feedback">
                                    What's your first name?
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="last_name">Last Name</label>
                                <input id="last_name" type="text" th:field="*{lastName}" class="form-control" required autofocus>
                                <div class="invalid-feedback">
                                    What's your last name?
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email">E-Mail Address</label>
                                <input id="email" type="email" class="form-control" th:field="*{email}" required>
                                <div class="invalid-feedback">
                                    Your email is invalid
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input id="password" type="password" class="form-control" th:field="*{password}" required
                                       data-eye>
                                <div class="invalid-feedback">
                                    Password is required
                                </div>
                            </div>

                            <div class="container">
                                <div class="col-md-12 col-md-offset-12">
                                    <div class="checkbox switcher inline text-center">
                                        <small class="mr-3">
                                            <a class="trigger-btn">Male</a>
                                        </small>
                                        <label for="gender">
                                            <input type="checkbox" id="gender" name="gender">
                                            <span><small></small></span>
                                        </label>
                                        <small>
                                            <a  class="trigger-btn">Female</a>
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="container">
                                <div class="col-md-12 col-md-offset-12">
                                    <div class="checkbox switcher inline text-center">
										<small class="mr-3">
                                            <a href="#modelServiceP" class="trigger-btn" data-toggle="modal">Service provider</a>
                                        </small>
                                        <label for="test">
                                            <input type="checkbox" id="test" name="serviceOrEnd" checked>
                                            <span><small></small></span>
                                        </label>
										<small>
                                            <a href="#modelServiceC" class="trigger-btn" data-toggle="modal">Service consumer</a>
                                        </small>
                                    </div>
                                </div>
                            </div>
							<div class="col-md-12 col-md-offset-12 text-center">
							<small class="font-italic text-warning"> --: You can change role any time :-- </small>
							</div>
							<br>
                            <div class="form-group">
                                <div class="custom-checkbox custom-control">
                                    <input type="checkbox" name="agree" id="agree" class="custom-control-input"
                                           required="">
                                    <label for="agree" class="custom-control-label">I agree to the
                                        <a href="#modelTC" class="trigger-btn" data-toggle="modal">Terms and Conditions</a>
                                    </label>
                                    <div class="invalid-feedback">
                                        You must agree with terms & conditions !
                                    </div>
                                </div>
                            </div>
<!--------------------------dialog boxes start-------------------------------------------------------------->
                            <div id="modelTC" class="modal fade">
                                <div class="modal-dialog modal-login">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Terms and Conditions</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                        <p>Terms and Conditions in detail... </p>
                                        </div>
                                        <div class="modal-footer">
                                            Copyright &copy; 2020 &mdash; All right reserved to Repoph
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="modelServiceP" class="modal fade">
                                <div class="modal-dialog modal-login">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"> About Service Providers </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <p> <strong>Service Provider</strong>  provides service to <strong>Service Consumer</strong> .</p>
                                        </div>
                                        <div class="modal-footer">
                                            Copyright &copy; 2020 &mdash; All right reserved to Repoph
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="modelServiceC" class="modal fade">
                                <div class="modal-dialog modal-login">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"> About Service Consumers </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <p> <strong>Service Consumers</strong>  Consume service from <strong>Service Providers</strong> .</p>
                                        </div>
                                        <div class="modal-footer">
                                            Copyright &copy; 2020 &mdash; All right reserved to Repoph
                                        </div>
                                    </div>
                                </div>
                            </div>
<!-------------------------dialog boxes ends--------------------------------------------------------------->
                            <div class="form-group m-0">
                                <button type="submit" class="btn btn-primary btn-block">
                                    Sign up
                                </button>
                            </div>
                            <div class="mt-4 text-center">
                                Already have an account? <a href="/login">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="footer">
                    Copyright &copy; 2020 &mdash; All right reserved to Repoph
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="../static/js/login-register-forget-reset.js"></script>
</body>
</html>