<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link href="../static/assets/img/logo.png" rel="icon"/>
    <link href="../static/assets/img/logo.png" rel="apple-touch-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <title>Who hired me</title>
    <style>
        .home-footer-area{
            -webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.25);
            box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.25);
        }
    </style>
</head>
<body>
<nav class="navbar d-flex sticky-top flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm navbar-expand-sm text-danger">
    <a class="navbar-brand my-0 mr-md-auto font-weight-normal" href="/home">
        <img src="../static/assets/img/repoph_flat_nav_logo.png" height="50" width="200" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="navbar navbar-expand-sm" sec:authorize="isAuthenticated()">
        <div class="collapse navbar-collapse dropleft" id="navbar-list-4">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#abd" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://cdn2.iconfinder.com/data/icons/rcons-user/32/male-fill-circle-512.png" width="30" height="30" class="rounded-circle bx-border-circle">
                    </a>
                    <div class="dropdown-menu" id="abd" aria-labelledby="navbarDropdownMenuLink">
                        <h6 class="dropdown-header"  th:if="${userType.equals('sp')}" th:text="${me.getFirstName()+' '+me.getLastName()+' ( Service Provider )'}">Rakul preat singh ( Service Provider )</h6>
                        <h6 class="dropdown-header"  th:if="${userType.equals('')}" th:text="${me.getFirstName()+' '+me.getLastName()+' ( Service Consumer )'}">Rakul preat singh ( Service Provider )</h6>
                        <small class="dropdown-header" th:text="${#authentication.getName()}" >example234@gmail.com</small>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item bx-burst-hover" href="/home">Home</a>
                        <a class="dropdown-item bx-burst-hover" href="/profile">Dashboard</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item bx-burst-hover text-danger" href="/logout">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <span sec:authorize="!isAuthenticated()">
                <a class="btn btn-outline-primary mr-2" href="/login">Log in</a>
                <a class="btn btn-outline-primary" href="/registration">Sign up</a>
        </span>
</nav>
<section class="h-100" style="margin-bottom: 100px">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
                <div class="card border border-dark">
                    <div class="card-body d-flex flex-column">
                        <h5>Active Hiring : </h5>

                        <div class="card-body d-flex flex-column" th:if="${consumer!=null}">
                            <div class="card items" >
                                <div class="card-body d-flex flex-row">
                                    <div class="card-body">
                                        <h6 class="card-title text-dark" >User Details:</h6>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col"> User Name </th>
                                                <th scope="col"> Email </th>
                                                <th scope="col"> Mobile No </th>
                                                <th scope="col"> Address </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
<!--                                                ok-->
                                                <th scope="row" th:text="${consumer.getFirstName()+' '+consumer.getLastName()}"></th>
                                                <td th:text="${consumer.getEmail()}"></td>
                                                <td th:text="${consumer.getMobileNumber()}"></td>
                                                <td  th:text="${consumer.getAddress().getHouseNumber()+' '+
                                                consumer.getAddress().getStreet()+' '+
                                                consumer.getAddress().getCity()+' '+
                                                consumer.getAddress().getCountry()}">Not accepted yet</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <hr>
                                        <span class="ml-5">
                                                <span class="text-info font-weight-bold">Status: &nbsp;&nbsp;
                                                    <span th:if="${me.getStatus().equals('pending')}"
                                                          class="text-warning font-weight-normal">Pending</span>
                                                    <span th:if="${me.getStatus().equals('running')}"
                                                          class="text-warning font-weight-normal">Running</span>
                                                    <span th:if="${me.getStatus().equals('cancel')}"
                                                          class="text-warning font-weight-normal">Canceled by opponent</span>
                                                    <span th:if="${me.getStatus().equals('declined')}"
                                                          class="text-warning font-weight-normal">Declined by you</span>
                                                    <span th:if="${me.getStatus().equals('finished')}"
                                                          class="text-warning font-weight-normal">Finished</span>
                                                </span>
                                                <a class="btn btn-outline-success ml-5"
                                                   th:if="${me.getStatus().equals('pending')}"
                                                   th:href="@{/accept}">Accept
                                                </a>
                                                <a class="btn btn-outline-danger ml-5 "
                                                   th:if="${me.getStatus().equals('pending')}"
                                                   th:href="@{/decline}">Decline
                                                </a>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h6> History : </h6>

                        <div class="card-body d-flex flex-column" th:each="history :${me.getServiceHistories()}">
                            <div class="card items" >
                                <div class="card-body d-flex flex-row">
                                    <div class="card-body">
                                        <h6 class="card-title text-dark" >User Details:</h6>
                                        <table class="table table-bordered table-striped mb-0">
                                            <thead>
                                            <tr>
                                                <th scope="col" class="text-center"> User Name </th>
                                                <th scope="col" class="text-center"> Email </th>
                                                <th scope="col" class="text-center"> Hired start time </th>
                                                <th scope="col" class="text-center"> Hired end time </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th  class="text-center" th:text="${history.getOpponent()}"></th>
                                                <td  class="text-center" th:text="${history.getEmail()}"></td>
                                                <td  class="text-center" th:if="${history.getHireStartTime()!=null}" th:text="${history.getHireStartTime()}"> _._ </td>
                                                <td  class="text-center" th:if="!${history.getHireStartTime()!=null} "> _._ </td>
                                                <td  class="text-center" th:if="${history.getHireEndTime()!=null}" th:text="${history.getHireEndTime()}"> _._ </td>
                                                <td  class="text-center"th:if="!${history.getHireEndTime()!=null}"> _._ </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <hr>
                                        <span class="ml-5">
                                                <span class="text-info font-weight-bold">Status: &nbsp;&nbsp;
                                                    <span th:if="${history.getStatus().equals('cancel')}"
                                                          class="text-warning font-weight-normal">Canceled by opponent</span>
                                                    <span th:if="${history.getStatus().equals('declined')}"
                                                          class="text-warning font-weight-normal">Declined by you</span>
                                                    <span th:if="${history.getStatus().equals('finished')}"
                                                          class="text-warning font-weight-normal">Finished</span>
                                                </span>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="pt-4 home-footer-area border-light">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                <img class="m-3 rounded" src="../static/assets/img/repoph_flat_bg_logo.png" alt="" width="75"
                     height="75">
                <small class="d-block ml-3 text-muted">&copy; 2020 - Now</small>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                    <li><a class="text-muted" href="#">Random feature</a></li>
                    <li><a class="text-muted" href="#">Team feature</a></li>
                    <li><a class="text-muted" href="#">Stuff for developers</a></li>
                    <li><a class="text-muted" href="#">Another one</a></li>
                    <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                    <li><a class="text-muted" href="#">Locations</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>